.Post {
  border: 1px solid #eee;
  border-radius: 0.5rem;
  overflow: hidden;

  > .text {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    padding: 0.75rem;

    > .header {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      > .favicon {
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        border: 1px solid #eee;
        object-fit: contain;
      }

      > .main {
        min-width: 0;
        flex-grow: 1;

        word-wrap: break-word;

        > .sup {
          display: flex;
          align-items: center;
          gap: 0.375rem;

          > .point {
            height: 0.75rem;
            width: 0.75rem;
            border-radius: 100%;
          }

          > .site {
            font-size: 0.9rem;
            color: #555;
          }
        }

        > h2 {
          font-size: 1.2rem;
        }

        > .sub {
          color: #555;
          font-size: 0.9rem;
        }
      }
    }

    > .snippet {
      color: #333;
      font-size: 0.9rem;
    }
  }

  > .image {
    display: block;
    width: 100%;
  }
}
