fastapi
FlagEmbedding
implicit
joblib
msgpipe
numpy
opencv-contrib-python-headless
pandas
Pillow
pyarrow
pynndescent
requests
scikit-learn
scipy
sentence_transformers
service-toolkit
statsd
umap-learn
uvicorn
websocket-client
