.AnalysisPage {
  position: fixed;
  inset: 0;

  .query-form {
    border: 1px solid #999;
    padding: 0.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    > input {
      flex-grow: 1;
    }
  }
}
