.City {
  position: fixed;
  inset: 0;
  max-width: 108rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  .err {
    color: red;
  }

  .query-form-container {
    flex-shrink: 0;
    padding: 1rem;
    padding-right: 4.5rem; /* Leave room for PageSwitcher. */
    display: flex;
  }

  .query-form {
    margin: auto;

    background: white;
    border-radius: 0.25rem;
    box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.25);

    padding: 0.62rem;

    display: flex;
    align-items: center;
    gap: 0.75rem;
    max-width: 35rem;
    width: 100%;

    > .Ico {
      flex-shrink: 0;
    }

    > input {
      flex-grow: 1;
    }
  }

  > main {
    min-height: 0;
    flex-grow: 1;

    display: flex;
    align-items: stretch;
  }

  .panel {
    width: 24rem;
    flex-shrink: 0;
    border-left: 1px solid #eee;
    overflow: auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    > section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      > h2 {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        > span {
          font-weight: bolder;
        }
      }
    }

    > .link-to-analysis {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.75rem;
      font-size: 0.9rem;
      text-decoration: none;
      color: #333;

      background: white;
      box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.25);
      border-radius: 0.25rem;
    }
  }

  &.mobile .panel {
    background: white;
    position: fixed;
    inset: 0;
    width: auto;
    border: 0;

    > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > .text {
        > h1 {
          font-weight: bolder;
          font-size: 1.25rem;
        }

        > p {
          color: #555;
          font-size: 0.875rem;
        }
      }
    }

    > .close {
      border: 1px solid #ddd;
      border-radius: 0.25rem;
      padding: 0.5rem;
      font-size: 0.875rem;
    }
  }

  .posts {
    min-width: 0;
    flex-grow: 1;
    overflow: auto;

    padding: 1rem 1rem 2rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;

    > .controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0.9rem;
      width: 100%;

      > p {
        color: #666;
      }
    }

    > .Post {
      flex-shrink: 0;
      width: 100%;
      max-width: 45rem;
    }
  }
}
