* {
  box-sizing: border-box;
  outline: 0;
}

[hidden] {
  display: none !important;
}

:root {
  font-family: InterVariable, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* https://rsms.me/inter/download/ */
  font-size: 16px;
  line-height: 1.4;

  user-select: none;
}

table {
  border-collapse: collapse;

  th {
    text-align: left;
  }

  th,
  td {
    padding: 0.25rem 0.375rem;
    border: 1px solid #ddd;
  }
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button,
select {
  cursor: pointer;
  display: block; /* Avoid weird line-height issues. */
}

button,
input,
select {
  background: transparent;
  border-radius: 0;
  border: 0;
  font: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font: inherit;
  margin: 0;
  padding: 0;
}
